<script>
    $(".member").addClass("active");
</script>


<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <br />
                    <br />
                    <br />
                    <h2>關於我們</h2>
                </div>
            </div>
        </div>
        <div class="row special-list">
            @*左邊 *@
           
            <div class="col-md-6 col-sm-6 special-grid " style="position:center">
                <div class="container">
                    <h3>
                        您是否厭倦了想菜單？人太多、要顧及每個人的營養需求，人太少、菜總是吃不完。忙碌了一整天，不想吃外食、不想吃微波食物？想煮菜又要花時間備菜？
                    </h3><br />
                    <h3>
                        廚房助手給您不一樣的選擇。
                    </h3><br />
                         <h3>
                             我們販售處理好的新鮮菜色食材包，亦有各種新鮮食材販售，讓您無須挑菜、切菜，只要略微清洗即可下鍋翻炒，快速上菜。
                         </h3><br />
                    <h3>
                        每一份料理包裝都是處理好的新鮮食材，讓您不用花時間到處買菜、不用花時間備菜、連佐料都為您準備好！不論您是一個人、一家人、特殊需求者，廚房助手提供各種選擇。
                    </h3><br />
                    <h3>
                        今天下單，明天送達。現在就告別微波食品跟泡麵，開啟便利又美味的晚餐生活。
                    </h3><br />
                    </div>
               
                @*右邊放圖 *@
                <div class="col-md-6 col-sm-3 special-grid " style="position:fixed">
                    <img style="display:block; width:250%; height:450%" class="img-responsive" src="~/images/about.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>
</div>
