
@{
    ViewBag.Title = "Terms";
}

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <br />
                    <br />
                    <br />
                    <h2>會員隱私權政策</h2>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-12 special-grid " style="position:center">
                <h3>隱私權政策</h3>
                <p>
                    歡迎您來到本網站，我們依據「個人資料保護法」及相關法令，制定個人資料與隱私權保護政策，向您提供各式服務及資訊。
                    <br>
                    <br>
                    請您詳細閱讀以下之規定以更進一步了解我們的隱私權政策。當您提交您的資料給我們時，即視為您已同意本隱私權政策之規定。
                </p>
                <ul>
                    <li>
                        <h3>個人資料蒐集之目的</h3>
                        <p>
                            我們蒐集您個人資料的目的是為了客戶服務及管理（如以會員身份使用各項服務時，於頁面中自動顯示會員資
                            訊）、宣傳廣告或行銷（如提供會員各種最新活動等資訊、透過電子郵件、簡訊等提供與服務有關之資訊）、資訊與資料庫管理、統計調查與分析；向您提供
                            行銷優惠及會員服務；回應您的意見及問題，並提供或改善我們的服務及支援；向您更新我們最新的服務，並於前述目的範圍內利用您所提供之個人資料。
                        </p>
                    </li>
                    <li>
                        <h3>蒐集之個人資料類別</h3>
                        <p>我們依所提供之服務需要，需請您提供的個人基本資料包括姓名、電話、email、地址、出生月日。</p>
                    </li>
                    <li>
                        <h3>個人資料之利用</h3>
                        <p>
                            當您在本網站瀏覽網頁或使用本網站的特定服務時（如網站會員註冊登錄），我們可能向您蒐集個人基本資料，但我們僅將您的個
                            人資料使用在您所需的個別服務及上述特定目的範圍內。我們將持續使用您提供的個人資料直至您提出停止使用或本網站停止提供服務之日為止。
                        </p>
                    </li>
                    <li>
                        <h3>個人資料之變更與停止使用</h3>
                        <p>
                            您得就您提供的個人資料行使左列權利：(1)查詢或請求閱覽、(2)請求製給複製本、(3)請求補充或更正、(4)請求停
                            止蒐集、處理或利用、(5)請求刪除。若您擬行使上述任一權利，請寫E-mail致本網站客服信箱，或與本網站linet線上客服聯繫，我們將盡速進行處理。惟若因本網站依法負有保存義務，或法律另有規
                            定之情況者，則不在此限。
                        </p>
                        <p>您得自由選擇是否提供上述個人資料，或提供個人資料之程度，惟若您拒絕提供、或提供之資料不足或有誤時，將無法享有相關會員權益、本網站亦可能將無法提供完整之服務。</p>
                    </li>
                    <li>
                        <h3>個人資料安全</h3>
                        <p>保護會員的個人隱私是非常重要的，非依法令或未經會員同意之下，我們絕不會將會員的個人資料提供予任何與本網站服務無關之第三人。</p>
                        <p>會員應妥善保密自己的網路密碼及個人資料，不要將任何個人資料，尤其是網路密碼提供給任何人。在使用完網站所提供的各項服務功能後，切記要關閉瀏覽器視窗。</p>
                    </li>
                    <li>
                        <h3>其他網站</h3>
                        <p>
                            為了便利您或是提供您相關資訊，我們的網站或是服務也許包括其他網站的連結，如果您進入該些連結時，即代表您已經離開我們
                            的網站，這些網站的經營者可能會以不同於我們告知您的方式取得及處理您的資料。如您提供您的資訊給其他第三人或該第三人蒐集您的資訊時，請注意已不在本隱
                            私權政策之涵蓋範圍內。我們建議在提供您的資訊或是允許第三人蒐集或使用您的資訊前，請先審閱該第三人之相關隱私權條款規定。
                        </p>
                    </li>
                    <li>
                        <h3>隱私權保護政策修訂</h3>
                        <p>
                            我們將會不定時修改及變更本隱私權政策，建議您隨時注意網站公告，異動內容於公告日起生效，若您於變更或修改後繼續使用本
                            網站之服務，即視為您瞭解並已接受及同意變更修改後之條款。若您對本網站隱私權政策、或與個人資料有關之相關事項有任何疑問，可以透過本網站的聯絡資訊，
                            與我們聯繫。
                        </p>
                    </li>
                </ul>
                <h3>會員服務條款</h3>
                <ul>
                    <li>
                        <h3>會員的註冊義務</h3>
                        <p>
                            為了能使用本服務，會員同意以下事項：
                        </p><ul>
                            <li>依本服務註冊表之提示提供會員本人正確、最新的資料，且不得以第三人之名義註冊為會員。</li>
                            <li>即時維持並更新會員個人資料，確保其正確性，以獲取最佳之服務。</li>
                            <li>若會員提供任何錯誤或不實的資料、或未按指示提供資料、或欠缺必要之資料、或有重覆註冊帳號等情事時，本網站有權不經事先通知，逕行暫停或終止會員的帳號，並拒絕會員使用本服務之全部或一部。</li>
                        </ul>
                        <p></p>
                    </li>
                    <li>
                        <h3>隱私權政策</h3>
                        <p>關於會員的註冊以及其他特定資料依「隱私權政策」受到保護與規範。</p>
                    </li>
                    <li>
                        <h3>會員帳號、密碼及安全</h3>
                        <p>
                            完成本服務的登記程序之後，會員將取得一個特定之密碼及會員帳號，維持密碼及帳號之機密安全，是會員的責任。任何依照規定
                            方法輸入會員帳號及密碼與登入資料一致時，無論是否由本人親自輸入，均將推定為會員本人所使用，利用該密碼及帳號所進行的一切行動，會員本人應負完全責
                            任。
                        </p>
                        <p>
                            會員同意以下事項：
                        </p><ul>
                            <li>會員的密碼或帳號遭到盜用或有其他任何安全問題發生時，會員將立即通知本公司。</li>
                            <li>每次連線完畢，均結束會員的帳號使用。</li>
                            <li>會員的帳號、密碼及會員權益均僅供會員個人使用及享有，不得轉借、轉讓他人或與他人合用。</li>
                        </ul>
                        <p></p>
                    </li>
                    <li>
                        <h3>使用者的守法義務及承諾</h3>
                        <p>
                            會員承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。會員同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：
                        </p>
                        <p></p>
                    </li>
                    <li>
                        <h3>服務內容之變更與商品訊息發送</h3>
                        <ul>
                            <li>會員同意本公司得依實際執行情形，增加、修改或終止相關活動，並選擇最適方式告知會員。</li>
                            <li>會員同意本公司得不定期發送電子報或商品訊息至會員所登錄的電子信箱帳號或手機簡訊。當會員收到訊息後表示拒絕接受行銷時，本公司將停止繼續發送行銷訊息。</li>
                        </ul>
                        <p></p>
                    </li>
                    <li>
                        <h3>服務之停止、中斷</h3>
                        <p>
                            本公司將依一般合理之技術及方式，維持系統及服務之正常運作。但於以下各項情況時，本公司有權可以停止、中斷提供本服務：
                        </p><ul>
                            <li>本公司網站電子通信設備進行必要之保養及施工時。</li>
                            <li>發生突發性之電子通信設備故障時。</li>
                            <li>本公司網站申請之電子通信服務被停止，無法提供服務時。</li>
                            <li>由於天災等不可抗力之因素或其他不可歸責於本公司事由致使本網站無法提供服務時。</li>
                        </ul>
                        <p></p>
                    </li>
                    <li>
                        <h3>免責聲明</h3>
                        <p>如因可歸責於會員之事由而發生，包括但不限於，任何執行的失誤、錯誤、遺漏、中斷、缺失、傳輸的延誤、電腦病毒、或線路故障等，本公司將不會為任何損失或傷害而負賠償責任。</p>
                    </li>
                    <li>
                    <li>
                        <h3>保證與免責聲明</h3>
                        <p>
                            您將自行承擔使用本網站之一切風險。 <br>
                            我們不保證本網站不會出現中斷或故障等現象，也無法保證本網站不會遭病毒或其他有害物件侵害，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他損失等情形。<br>
                            若您因使用、存取或下載本網站任何資料，而導致您的電腦設備或其他財產感染病毒，其所生之任何損失，本網站無任何義務或責任。請您於使用本網站時，宜自行採取防護措施。
                        </p>
                    </li>
                    <li>
                        <h3>Cookie</h3>
                        <p>為了便利使用者，本網站可能使用 Cookie 技術，以便於提供更適合使用者個人需要的服務；Cookie 是網站伺候器用來和使用者瀏覽器進行溝通的一種技術，它可能在使用者的電腦中儲存某些資訊，但是使用者可以經由瀏覽器的設定，取消或限制此項功能。</p>
            </div>
        </div>
    </div>
</div>
