@section script{
    <script>
        $(".home").addClass("active");
    </script>
}

<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img style="object-fit: contain !important" src="~/images/computerV.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img style="object-fit: contain !important" src="~/images/shopping.gif" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img style="object-fit: contain !important" src="~/images/turn.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
